
<body>
     <div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
        <div class="col-12 col-lg-6">
            <img src="/img/peoplewriting.png" width="500" height="450" class="d-block mx-lg-auto img-fluid rounded-4" loading="lazy"alt="Writing with Node.js">
        </div>
        
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold mb-3">Unlock the stories in your mind</h1>  
            <p class="lead">Explore the beautiful stories told by children around the world. Find inspiration to write your own stories.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="/stories/explore-latest" class="btn btn-dark btn-lg">Latest Stories</a>
                <a href="/stories/myStories" class="btn btn-dark btn-lg">My Stories</a>
            </div>
        </div>

     </div>
    
     <!-- Explore the latest Stories -->
     <section classs="pb-4 pt-4">
        <div class="d-flex mb-2 align-items-center">
            <h2>Latest Stories</h2>
            <a href="/stories/explore-latest" class="ms-auto">View More</a>
        </div>

        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
            <% if(latest != "") { %>
                <% latest.forEach(function(story, index){ %>
                    <a href="/stories/story/<%= story._id %>" class="col text-center story__link">
                        <div class="story__img story__img--large shadow">
                            <img src="<%-story.file %>" alt="<%= story.title %>" loading="lazy">
                            <% /* %>
                            <iframe src="<%-story.file%>" ></iframe>
                            <% */ %>
                        </div>
                        <div class="pt-1"><%= story.title %></div>
                        <div class="pt-1"><%= story.description %></div>
                    </a>
                <% }) %>
            <% } else { %>
                <p>No items found.</p>
            <% } %>

        </div>
     </section>


		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>