<h1> <%-name%>'s Stories</h1>

<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <% if(stories !== ""){ %>
        <% stories.forEach(function(story, index){ %>
            <a href="/stories/story/<%=story._id %>" class="col-text-center story__link">
                <div class="story__img story__img--large shadow">
                    <img src="<%= story.file %>" alt="<% story.title %>" loading="lazy">
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <div class="pt-1"><%=story.title %></div>
                    <%if(story.user == user.id){ %>
                    <form action="/stories/deleteStory/<%= story.id %>?_method=DELETE" 
                        method="POST" class="col-3">
                        <button class="btn btn-success fa fa-trash" type="submit"></button>
                    </form>
                    <%}%>
                </div>
            </a>
       <% }) %>
   <% } else{ %>
    <p>No stories found.</p>
   <% } %>

</div>