 <body>
    <div class="container">
     <div class="row ng-scope">
        <div class="col-md-9 col-md-pull-3">
        <section class="search-result-item">
        <% if(books != null) {%>
        <% books.items.forEach(function(book, index) {%>
        <div>
            <img class="reading-results-img" src="<%-book.volumeInfo.imageLinks=== undefined ? "" : book.volumeInfo.imageLinks.smallThumbnail%>" alt="<%-book.volumeInfo.title %>">
        </div>  
        <div class="search-result-item-body">
            <div class="row">
                <div class="col-sm-9">
                    <a href="/stories/book/<%-book.id %>"></a>
                    <h4 class="search-result-item-heading"><%-book.volumeInfo.title %></h4>
                    <p class="description"><%-book.volumeInfo.description %></p>
                </div>
                <div class="col-sm-3 text-align-center">
                    <a href="/stories/book/<%-book.volumeInfo.industryIdentifiers === undefined ? "" : book.volumeInfo.industryIdentifiers[0].identifier %>"><button class="btn btn-success">Read More</button></a>
                </div>
                <% }) %>
                <%}else {%>
                    No books found.
                <% } %>
            </div>
        </div>
    </section>
 </div>
 </div>
</div>
    <script type="text/javascript" src="js/main.js"></script>
</body>