 <body>
    <div class="container">
     <div class="row ng-scope">
        <div class="col-md-9 col-md-pull-3">
        <section class="search-result-item">
        <% if(books != null) {%>
        <% books.items.forEach(function(book, index) {%>
        <div>
            <img class="reading-results-img img-thumbnail" src="<%-book.volumeInfo.imageLinks.smallThumbnail %> == undefined ? " " : <%-book.volumeInfo.imageLinks.smallThumbnail %> " alt="<%-book.volumeInfo.title %>">
        </div>  
        <div class="search-result-item-body">
            <div class="row">
                <div class="col-sm-9">
                    <a href="/stories/book/<%-book.id %>"></a>
                    <h4 class="search-result-item-heading"><%-book.volumeInfo.title %></h4>
                    <p class="description"><%-book.volumeInfo.description %></p>
                </div>
                <div class="col-sm-3 text-align-center">
                    <a class="btn btn-success" href="/stories/book/<%-book.volumeInfo.industryIdentifiers[1].identifier %> ">Read More</a>
                </div>
                <% }) %>
                <%}else {%>
                    No books found.
                <% } %>
            </div>
        </div>
    </section>
 </div>
 </div>
 </div>
    <% /* %>
   <section>
        <div class="wrapper">
            <div class="books">
            <% if(books != null) {%>
            <% books.items.forEach(function(book, index) {%>
                <a href="/stories/book/<%-book.id %>" class="book__card">
                    <img class="reading-results-img" src="<%-book.volumeInfo.imageLinks.smallThumbnail %>" alt="<%-book.volumeInfo.title %>">
                    <h4 class="reading-results-h4"><%-book.volumeInfo.title %></h4>
                    <p><%-book.volumeInfo.description %></p>
                    <a href="/stories/book/<%-book.volumeInfo.industryIdentifiers[1].identifier %>"><button>Read More</button></a>
                </a>
                <% }) %>
                <%}else {%>
                    No books found.
                <% } %>
            </div>
        </div>
    </section>
    <% */ %>

    <script type="text/javascript" src="js/main.js"></script>
</body>