
<% if(story != null) {%>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/stories/dashboard">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><%- story.title %></li>
        </ol>
    </nav>   

    <div class="row">
        <h1>Shared Stories</h1>
        <div class="col-12 col-md-8">
            <img src="<%=story.file %> " class="img-fluid sticky-top" style="top:20px" alt="<%-story.title %>" loading="lazy">
        </div>

        <div class="col-12 col-md-4">
            <div class="row">
                <div class="col-12"><h1><%- story.name %></h1></div>
                <div class="col-12"><h1><%- story.title %></h1></div>
                <div class="col-12"><h4><%-story.grade %></h4></div>


                <div class="col-12" style="white-space: pre-line">
                    <h4>Description:</h4>
                    <h5><%- story.description %></h5>
                    <%- moment(story.date).format('MMMM Do YYYY') %>
                </div>
                <div>
                    <h6>Like a story to save it.</h6>
                    <i class="fa-solid fa-heart  <%= story.likesBy.includes(user.id) === true ? 'like' : 'notlike'%>" data-id="<%=story._id %>"></i>
                </div>  
        </div>
    </div>

<% }else{ %>
    <p>No item found.</p>
<% } %>